html, body, .container {
    height: 100%;
}

.main-card {
    width: 400px;
    padding: 2rem;
    background: #fff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 1000;
    top: 3rem; 
    border-radius: 8px;
}